{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser" : true,
    "node" : true,
    "es6" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__TEST__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "comma-dangle": 0,
    "react/sort-comp": 0,
    "semi" : [2, "never"],
    "max-len": [2, 160, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "prefer-rest-params": 0,
    "yoda": 0,
    "import/no-unresolved": 0,
    "one-var-declaration-per-line": 0,
    "no-use-before-define": 0,
    "no-unexpected-multiline": 2,
    "object-curly-spacing": [2, "always"],
    "space-before-function-paren": [2, { "anonymous": "never", "named": "always" }],
    "jsx-quotes": [2, "prefer-single"],
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "max-statements": [2, 60],
    "max-depth": [2, 4],
    "max-params": [2, 10],
    "max-nested-callbacks": [2, 5],
    "no-mixed-operators": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/self-closing-comp": [2, {
      "component": true,
      "html": false
    }],
    "class-methods-use-this": 0,
    "generator-star-spacing": 0,
    "import/extensions": 0,
    "import/first": 0,
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/tabindex-no-positive": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "react/forbid-prop-types": 0,
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 0,
    "global-require": 0,
    "react/no-unused-prop-types": 0,
    "object-property-newline": 0,
    "no-restricted-properties": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/no-danger": 0,
    "operator-assignment": 0,
    "no-useless-escape": 0,
    "no-bitwise": 0,
    "react/prefer-stateless-function": 0,
    "no-console": ["error", { allow: ["warn", "error", "log"] }],
    "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }]
  }
}
